/* Progress Bar Styles */
.progress-bar-inner {
    transition: width 0.5s ease-in-out;
}

.progress-bar {
    width: 100%;
    max-width: 100%;
    height: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.progress-bar-inner {
    animation: progressAnimation 2s ease-in-out;
}

@keyframes progressAnimation {
    from {
        width: 0;
    }

    to {
        width: var(--progress-width);
    }
}

/* Body Styles */
body {
    background: linear-gradient(135deg, #0f2027 0%, #2c5364 100%);
    font-family: 'Kontrapunkt Light', sans-serif, Arial; /* Changed font to Kontrapunkt */
}

/* Title Styles */
h1 {
    animation: fadeInDown 1s ease-in-out;
    color: #ffffff; /* Updated color for better visibility */
    text-align: center;
    font-size: 4rem;
    line-height: 1.2;
    font-family: 'Kontrapunkt Light', sans-serif, Arial; /* Changed font to Kontrapunkt */
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Inspirational Text Styles */
.inspirational-text {
    animation: blink 1s infinite; /* Blinking effect */
    font-size: 1.5rem;
    color: #ffdf91;
    font-family: 'Kontrapunkt Light', sans-serif, Arial; /* Changed font to Kontrapunkt */
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Shadow for card container */
.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Improved label colors */
.text-light {
    color: #f3f4f6; /* Lightened text for better visibility */
    font-family: 'Kontrapunkt Light', sans-serif, Arial; /* Changed font to Kontrapunkt */
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.8);
}